<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedRecipe?.imagePath}}" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedRecipe?.name}}</h1>
  </div>
  <div class="col-xs-12">
    <div class="btn btn-success">To Shopping List</div>
    <div class="btn btn-primary">Edit</div>
    <div class="btn btn-danger">Delete</div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedRecipe?.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>
